.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #20B2AA;
}

@font-face {
  font-family: 'openSans regular';
  src: url('./resources/fonts/open_sans/OpenSans-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'openSans bold';
  src: url('./resources/fonts/open_sans/OpenSans-Bold.ttf');
  font-display: swap;
}
